html {
    box-sizing: border-box;
}

html *,
html *::after,
html *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px/1.6 sans-serif;
    background: #ddd;
}